.gridContainer{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 10vw 30vw 30vw 30vw;
    grid-template-rows: 10vh 45vh 45vh;
    grid-template-areas:
          "header header header header"
          "nav comp comp comp"
          "nav comp comp comp";
}

.componentContainer{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 38.5vw 38.5vw 15vw;
    grid-template-rows: 50vh 50vh;
    grid-template-areas:
          "main main notes"
          "main main notes";
}

.navContainer{
    grid-area: nav;
    /* background: red; */
}

.mainContainer{
    grid-area: main;
    background: orange;
    position: relative;
}

.notesContainer{
    grid-area: notes;
    background: green;
}

.headerContainer{
    grid-area: header;
    background: purple;
}